/*  */
/* ---- Navigation ---- */
.main-header {
   text-align: center;
}

.name {
   font-size: 1.25em;
   margin: 0;
}

.main-nav {
   margin-top: 5px;
}

.name a,
.main-nav a {
   text-align: center;
   display: inline-block;
   padding: 10px 15px;
}

.main-nav {
   font-size: 16px;
}

.main-nav a {
   font-size: .95em;
   color: black;
   text-transform: uppercase;
}

.main-nav a:hover {
   color: #093a58;
}

/*  */
/* ---- Layout Containers ---- */
.main-header {
   padding-top: .5em;
   padding-bottom: .5em;
   margin: auto;
}

/* Banner */
.banner {
   text-align: center;
   padding-top: 2em;
   padding-bottom: 1em;
   background-color:#fafafa;
   margin: auto;
}

.introduction {
   display: inline-block;
   padding: 1em 3em 1em 3em;
}

.photo {
   display: inline-block;
   margin: 1em;
}

/* Portfolio */
.pcontainer{
   width:100%;
   text-align:center;
}

img{
   width:auto;
   max-width: 100%;
   height:auto;
}

.pName{
   display:inline-block;
   font-size:1.2em;
   margin:0.8em 0.5em 0em 0.5em;
}
.pDescription{
   display: inline-block;
   margin:0.8em 1em 0.8em 1em;
   font-size:1em;
}
.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6 {
  margin:0 1em 0 1em;
}
/* Contact */
.contact{
   text-align: center;
   background-color: #fafafa;
   margin:0 auto;
}
/* footer */
.main-footer{
   width:100%;
   max-width:1150px;
   margin: auto;
   padding:1em 1em 3em 1em;
   
}

.footer-nav a,
.footer-nav li{
   display: inline-block;
   padding-right:1em;
}

.footer-nav{
   float:right;
   padding-right:2em;
}

.footer-name{
   float:left;
}


/*  */
/* ---- Float clearfix ---- */

.clearfix::after {
   content: " ";
   display: table;
   clear: both;
}


/* Media Queries */
@media(min-width:768px) {

   /* header*/
   .name a,
   .main-nav a {
      display: block;
   }

   .main-nav li {
      display: inline-block;
      margin-left: 15px;
   }

   /* banner */
   .banner {
      width: 100%;
      margin: 0 auto;
      text-align: center;
   }

   .bannerRow {
      display: flex;
   }

   .introduction {
      width: 60%;
   }

   .photo {
      width: 40%;
      float: left;
   }

   /* Portfolio */
   .portfolio1,
   .portfolio2,
   .portfolio3,
   .portfolio4,
   .portfolio5,
   .portfolio6 {
      display: inline-block;
      width: 44%;
   }

   /*  */
   /* ---- Float clearfix ---- */
   .clearfix::after {
      content: " ";
      display: table;
      clear: both;
   }

}



@media(min-width:1024px) {

   /* header*/
   .main-header{
      width:100%;
      max-width:1150px;
      margin: auto;
   }
  
   .name {
      float: left;
   }

   .main-nav {
      float: right;
   }

   .main-nav li {
      display: inline-block;
      margin-left: 15px;
   }
   .bannerRow{
      width:100%;
      max-width:1150px;
      margin: auto;
   }
   /* Portfolio */
   .pcontainer {
      width: 100%;
      max-width: 1150px;
      margin: auto;
   }
   
   .portfolio1,
   .portfolio2,
   .portfolio3,
   .portfolio4,
   .portfolio5,
   .portfolio6 {
      display: inline-block;
      width: 30%;
   }


}