/*  */
/* ---- Navigation ---- */
body{
   background-color: #fafafa;
}

.main-header {
   width:100%;
   box-sizing:border-box;
   text-align: center;
   font-family: 'Noto Sans','Ubuntu','Red Hat Text', 'Lato',sans-serif;
   color:#4a4a4a;
   margin:auto;
}

.name {
   font-size:2em;
   margin:auto;
   padding-left:1em;
   padding-right:1em;
}

.main-nav {
   margin-top:10px;
   font-weight: bold;
   margin:auto;
   padding-right:1em;
}

.main-nav li{
   background-color: white;
   margin:5px 30px 5px 30px;
}

.name a,
.main-nav a {
   text-align: center;
   display: inline-block;
   padding: 8px 10px;
   text-decoration:none;
   font-family: 'Noto Sans','Ubuntu','Red Hat Text', 'Lato',sans-serif;
   font-weight:bold;
   color:#4a4a4a;
}

.main-nav a {
   font-size: 1.2em;
   text-transform: uppercase;
}

.main-nav a:hover {
   color: #5bafe4;
}

/*  */
/* ---- Layout Containers ---- */
.main-header {
   padding:0.5em;
   margin: auto;
}

/* Banner */
.banner {
   font-family: 'Lato','Ubuntu','Red Hat Text', 'Noto Sans',sans-serif;
   font-weight: normal;
   color:#4a4a4a;
   font-style: normal;
   font-size:1.2em;
   text-align: center;
   margin: auto;
   width:100%;
   box-sizing:border-box;
   padding-top:2em;
}

.introduction {
   display: inline-block;
   padding: 2em 2.5em 2em 2.5em;
   text-align:center;
}

.photo {
   display: inline-block;
   max-width:70%;
   width:auto;
   height:auto;
}

/* Portfolio */
.pcontainer{
   width:100%;
   text-align:center;
   background-color: white;
   font-family: 'Noto Sans','Ubuntu','Red Hat Text', 'Lato',sans-serif;
   color:#4a4a4a;
}

.pTitle h2{
   padding:30px 20px;
   font-size:1.5em;
   margin:0;
   font-weight: bold;
   text-transform: uppercase;
}

img{
   width:auto;
   max-width: 100%;
   height:auto;
}

.textContainer{
   margin:2em;
}

.pName{
   display:inline-block;
   font-size:1.2em;
   margin:0.8em 0.5em 0em 0.5em;
}

.pDescription{
   display: inline-block;
   /* margin:0.8em 1.5em 1em 1.5em; */
   font-size:1em;
}

.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6 {
  margin:0 1em 0 1em;
}


/* Contact */
.contact{
   width:100%;
   box-sizing:border-box;
   text-align: center;
   padding:1em;
   font-family: 'Noto Sans','Ubuntu','Red Hat Text', 'Lato',sans-serif;
   color:#4a4a4a; 
}
.contactDescription{
   width:90%;
   margin:auto;
   padding-bottom:10px;
}
.decoLine{
   width:100%;
   box-sizing:border-box;
   border:0.5px solid #4a4a4a;
   max-width: 1150px;
}

/* footer */
.main-footer{
   width:100%;
   box-sizing:border-box;
   text-align:center;
   max-width:1150px;
   margin: auto;
   padding:1em 1em 3em 1em;  
   font-family: 'Noto Sans','Ubuntu','Red Hat Text', 'Lato',sans-serif;
   color:#4a4a4a;

}

.footer-name {
   float:left;
}

.footer-nav{
   float:right;
}

.footer-name a{
   text-decoration:none;
   text-transform: uppercase;
   color:#4a4a4a;
   font-weight: bold;
}

.footer-nav li,
.footer-nav a{
   display: inline-block;
   text-decoration:none;
   text-transform: uppercase;
   color:#4a4a4a;
   font-weight: bold;
}

.hideLink a{
  display:none;
}
/*  */
/* ---- Float clearfix ---- */

.clearfix::after {
   content: " ";
   display: table;
   clear: both;
}


/* Media Queries */
@media(min-width:768px) {

   /* header*/
   .name a,
   .main-nav a {
      display: block;
   }

   .main-nav li {
      display: inline-block;
      margin-left: 15px;
      background-color:#fafafa;
   }

   /* banner */
   .banner {
      width: 100%;
      margin: 1em 3em 1em 3em;
      text-align: center;
      padding: 1em;
      margin: auto;
   }
   .firstColumn{
      width:40%;
      box-sizing:border-box;
      padding:10px 10px 10px 10px;
      float:right;
   }

   .introduction {
      box-sizing:border-box;
      width: 60%;
      float:left;
      text-align:justify;
   }

   .photo {
      max-width:100%;
      padding-top:2.5em;
   }
   /* Portfolio */
   .portfolio1,
   .portfolio2,
   .portfolio3,
   .portfolio4,
   .portfolio5,
   .portfolio6 {
      display: inline-block;
      width: 44%;
      box-sizing:border-box;
   }
   /* Contact */
   .contact{
      padding:2em;
   }

   .contactDescription{
      width:70%;
   }
   /* Footer */
   .decoLine{
      width:95%;
      box-sizing:border-box;
      border:0.5px solid #4a4a4a;
   }
   .hideLink a{
      display:inline-block;
   }

   .isHidetoTop a{
      display: none;
   }

   /* .footer-nav{
      padding-right:1em;
   } */
   .footer-nav li{
      padding-left:10px;
   }
   /*  */
   /* ---- Float clearfix ---- */
   .clearfix::after {
      content: " ";
      display: table;
      clear: both;
   }

}



@media(min-width:1024px) {

   /* header*/
   .main-header{
      width:100%;
      box-sizing:border-box;
      max-width:1150px;
      margin: auto;
   }
  
   .name {
      float: left;
   }

   .main-nav {
      float: right;
      padding-right:1em;
   }

   .main-nav li {
      display: inline-block;
      margin-left: 15px;
   }
   
   .banner{
      width:100%;
      box-sizing:border-box;
      max-width:1150px;
      margin: auto;
   }
   /* Banner */
   .photo{
      padding-top:1em;
   }
   /* Portfolio */
   .pcontainer {
      width: 100%;
      box-sizing:border-box;
      max-width: 1150px;
      margin: auto;
   }
   
   .portfolio1,
   .portfolio2,
   .portfolio3,
   .portfolio4,
   .portfolio5,
   .portfolio6 {
      display: inline-block;
      width: 29%;
      box-sizing:border-box;
   }

  
}