/*  */
/* ---- Navigation ---- */
body{
   background-color: #fafafa;
}

.main-header {
   text-align: center;
   font-family: 'Noto Sans','Red Hat Text', sans-serif;
   margin:auto;
}

.name {
   font-size: 2em;
   margin:auto;
}

.main-nav {
   margin-top:10px;
   font-size:1em;
   font-style: bold;
   margin:auto;
}

.main-nav li{
   background-color: white;
   margin:5px 30px 5px 30px;
}

.name a,
.main-nav a {
   text-align: center;
   display: inline-block;
   padding: 15px 15px;
   text-decoration-line: none;
}

.main-nav a {
   font-size: 1.2em;
   color: black;
   text-transform: uppercase;
}

.main-nav a:hover {
   color: #5bafe4;
}

/*  */
/* ---- Layout Containers ---- */
.main-header {
   padding-top: .5em;
   padding-bottom: .5em;
   margin: auto;
}

/* Banner */
.banner {
   font-family: 'Noto Sans','Red Hat Text', sans-serif;
   font-style: normal;
   font-size:1em;
   text-align: center;
   padding-top: 2em;
   margin: auto;
}

.introduction {
   display: inline-block;
   padding: 2em 2.5em 2em 2.5em;
}

.photo {
   display: inline-block;
}

/* Portfolio */
.pcontainer{
   width:100%;
   text-align:center;
   background-color: white;
}

.pTitle h2{
   padding:30px 20px;
   font-size:1.5em;
   margin:0;
}

img{
   width:auto;
   max-width: 100%;
   height:auto;
}

.textContainer{
   margin:2em;
}

.pName{
   display:inline-block;
   font-size:1.2em;
   margin:0.8em 0.5em 0em 0.5em;
}

.pDescription{
   display: inline-block;
   margin:0.8em 1.5em 1em 1.5em;
   font-size:1em;
}

.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6 {
  margin:0 1em 0 1em;
}


/* Contact */
.contact{
   text-align: center;
   margin:4em 2.5em 4em 2.5em;   
}

/* footer */
.main-footer{
   width:100%;
   max-width:1150px;
   margin: auto;
   padding:1em 1em 3em 1em;  
}


.footer-name {
   float:left;
}

.footer-nav{
   float:right;
   padding-right:2em;
}

.footer-name a{
   text-decoration:none;
   color:black;
   text-transform: uppercase;
}

.footer-nav li,
.footer-nav a{
   display: inline-block;
   padding-right:0.5em;
   text-decoration:none;
   color:black;
   text-transform: uppercase;
}

.hideLink a{
  display:none;
}
/*  */
/* ---- Float clearfix ---- */

.clearfix::after {
   content: " ";
   display: table;
   clear: both;
}


/* Media Queries */
@media(min-width:768px) {

   /* header*/
   .name a,
   .main-nav a {
      display: block;
   }

   .main-nav li {
      display: inline-block;
      margin-left: 15px;
      background-color:#fafafa;
   }

   /* banner */
   .banner {
      width: 100%;
      margin: 1em 3em 1em 3em;
      text-align: center;
      padding: 1em;
      margin: auto;
   }
   .firstColumn{
      width:40%;
      box-sizing:border-box;
      padding:10px 10px 10px 10px;
      float:right;
   }

   .introduction {
      box-sizing:border-box;
      width: 60%;
      float:left;
   }

   .photo {
      max-width: 100%;
   }
   
   /* Portfolio */
   .portfolio1,
   .portfolio2,
   .portfolio3,
   .portfolio4,
   .portfolio5,
   .portfolio6 {
      display: inline-block;
      width: 44%;
      box-sizing:border-box;
   }

   /* Footer */
   .hideLink a{
      display:inline-block;
   }
   .isHidetoTop a{
      display: none;
   }

   /*  */
   /* ---- Float clearfix ---- */
   .clearfix::after {
      content: " ";
      display: table;
      clear: both;
   }

}



@media(min-width:1024px) {

   /* header*/
   .main-header{
      width:100%;
      max-width:1150px;
      margin: auto;
   }
  
   .name {
      float: left;
   }

   .main-nav {
      float: right;
   }

   .main-nav li {
      display: inline-block;
      margin-left: 15px;
   }
   
   .banner{
      width:100%;
      max-width:1150px;
      margin: auto;
   }

   /* Portfolio */
   .pcontainer {
      width: 100%;
      max-width: 1150px;
      margin: auto;
   }
   
   .portfolio1,
   .portfolio2,
   .portfolio3,
   .portfolio4,
   .portfolio5,
   .portfolio6 {
      display: inline-block;
      width: 30%;
   }


}